<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Permission Plus Apple</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>permission_plus_apple_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Test camera permission</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Test microphone permission</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Test photos permission</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Test photos add permission</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Test location when in use permission</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Test location always permission</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Test location always permission</string>
	<key>NSContactsUsageDescription</key>
	<string>Test contacts permission</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Test calendar permission</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Test full calendar permission</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Test write only calendar permission</string>
	<key>NSRemindersUsageDescription</key>
	<string>Test reminders permission</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Test full reminders permission</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Test bluetooth permission</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Test bluetooth permission</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Test speech recognition permission</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Test media library permission</string>
	<key>NSMotionUsageDescription</key>
	<string>Test motion sensors permission</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Test app tracking transparency permission</string>
</dict>
</plist>
